/* 主色调 */
/* 主背景色 */
.bg-main{
	background-color: rgb(92, 204, 132);
}
/* 主文字色 */
.text-main{
	color: rgb(92, 204, 132);
}
/* 分割线 */
.divider{
	height: 15rpx;
	margin-top: 15rpx;
	background-color: #f5f5f3;
}
