/* 主色调 */
/* 主背景色 */
.bg-main{
	background-color: rgb(92, 204, 132);
}
/* 主文字色 */
.text-main{
	color: rgb(92, 204, 132);
}
/* 分割线 */
.divider{
	height: 15rpx;
	margin-top: 15rpx;
	background-color: #f5f5f3;
}
.m-button {
		height: 102rpx;
		background-color: #5ccc84;
		color: #fff;
		box-sizing: border-box;
		margin-bottom: 50rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 10rpx;
		overflow: hidden;
	}

